*.iso
pull-secret.json
*.key
*.rpm
*.tmp
*.old
*.crt
hosts
.env

#poc
ContainerfileRHEL9GS
install-vidireports.service
run-vidireports.service
run-broadsign-vm.service
vidireports.sh
virsh-start.sh
.rhc*
tailscale-login.service
gpu_pointcloud_test

#Plugfest file
Plugfest/

#pocs
output/
*xentara*
lenovo-*

# test flightctl
device-patches/