*.iso
pull-secret.json
*.key
*.rpm
*.tmp
*.old
*.crt
hosts
.env

#poc
ContainerfileRHEL9GS
install-vidireports.service
run-vidireports.service
run-broadsign-vm.service
vidireports.sh
virsh-start.sh
.rhc*

#Plugfest file
Plugfest/

output/